button{
	font: 14px Roboto;
	margin: 0 5px;
	padding: 8px 18px;
	color: $bzWhite;
	cursor: pointer;
	background-color: $bzGreen;
	@include border-radius(4px);
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
	&:hover{ background-color: $bzRed; }
}

.googleLogIn{
	height: 36px;
	padding-left: 52px;
	padding-right: 30px;
	color: #444;
	background-color: $bzWhite;
	background-image: url(/Files/googleButton.png);
	background-position: 8px 50%;
	background-repeat: no-repeat;
	&:hover{
		background-color: $bzWhite;
		box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
	}
}

.facebookLogIn{
	height: 36px;
	padding-left: 50px;
	background-color: #3b5998;
	background-image: url(/Files/facebookButton.png);
	background-position: 6px 50%;
	background-repeat: no-repeat;
	&:hover{
		background-color: #3b5998;
		box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
	}
}

/*Arrows*/
.arrow{
	display: block;
	position: absolute;
	top: 45%;
	height: 30px;
	width: 30px;
	margin: 0;
	background-color: black;
	color: white;
	border: 2px solid white;
	cursor: pointer;
	@include border-radius(50px);
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);
	opacity: 0.7;
	&:hover{
		height: 35px;
		width: 35px;
		opacity: 1;
	}
	&:focus{opacity: 1;}
}
#leftArrow{left: -5%;}
#rightArrow{right: -5%;}