 .tooltip {
	position: relative;
	display: flex;
	justify-content: center;
	&:hover .tooltipText {
		visibility: visible;
		opacity: 1;
	} 

	.tooltipText {
		visibility: hidden;
		background-color: $bzWhite2;
		color: $paraColor;
		text-align: center;
		width: 80px;
		padding: 0 8px;
		@include border-radius($defaultRadius);
		position: absolute;
		z-index: 1500;
		top: 65px;
		opacity: 0;
		transition: opacity 0.3s;
		font-size: 75%;
		cursor: pointer;
		display: flex;
		justify-content: center;
		&::after {
			content: "";
			position: absolute;
			bottom: 100%;
			border-width: 5px;
			border-style: solid;
			border-color: transparent transparent $bzWhite2 transparent;
		}
	}
}