@import 'partials/template';
@import 'partials/header';
@import 'partials/buttons';
@import 'partials/forms';
@import 'partials/socialIcons';
@import 'partials/footer';

/*Sign In Main*/
#loggedInUser,#signInDiv{
	position: absolute;
	top: 10px;
	right: 4vw;
	display: none;
	margin: 0;
	z-index: 20000;
}
#signInDiv{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	&:hover #signInButtons{	display: flex; }
	
	#signInMain{
		@include border-radius(50px);
		padding: 6px 20px;
		font: 100% Raleway;
		text-align: center;
		color: rgb(180, 105, 105);
		background-color: white;
		cursor: pointer;
		box-shadow: 0 0 8px 0 rgba(0,0,0,0.3);
	}
	#signInButtons{
		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		@include border-radius(2px);
		background-color: $bzWhite;
		box-shadow: 0 4px 8px rgba(0,0,0,0.1);
		margin-top: 10px;
		position: absolute;
		top: 100%;
		padding: 5px 25px;

		&::before{
			content: " ";
		   	position: absolute;
		   	bottom: 100%;
		   	border-width: 10px;
		   	border-style: solid;
		   	border-color: transparent transparent $bzWhite transparent;
		}
		p{
			font: 90% Raleway;
			color: rgb(180, 105, 105);
		}
		button{	margin: 5px 0; }
	}
}

/*Social Media*/
#socialMediaTop{
	position: fixed;
	left: 10px;
	top: 110px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	z-index: 1500;
}


// Table views holder
#tableViewsHolder{
	width: 89vw;
	overflow: auto;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

// Casino Tables
.casinoTable{
	position: relative;
	min-width: 160px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	@include border-radius($defaultRadius);
	box-shadow: $defaultShadow;
	font-family: Raleway;
	background-color: $bzWhite;
	padding-bottom: 10px;
	margin: 15px 10px;
	cursor: pointer;
	overflow: hidden;
	&:hover .cardFill{ animation: cardFillAni 0.4s ease forwards; }

	.tableName{
		width: 100%;
		text-align: center;
		padding: 5px;
		margin: 0;
		margin-bottom: 10px;
		background-color: $primaryGrey;
		font-size: 120%;
		color: $bzGreen;
		cursor: pointer;
		@include border-radius($defaultRadius $defaultRadius 0 0);
	}
	.availableSeats{
		font-size: 85%;
		color: grey;
		cursor: pointer;

		span{
			font-size: 110%;
			color: $bzRed;
			margin-left: 5px;
		}
	}
}
