@import 'template';
@import 'header';
@import 'buttons';
@import 'forms';
@import 'footer';

/*Sign In Main*/
#loggedInUser,#signInDiv{
	position: absolute;
	top: 10px;
	right: 4vw;
	display: none;
	margin: 0;
	z-index: 20000;
}
#signInDiv{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	&:hover #signInButtons{	display: flex; }
	
	#signInMain{
		@include border-radius(50px);
		padding: 6px 20px;
		font: 100% Raleway;
		text-align: center;
		color: rgb(180, 105, 105);
		background-color: white;
		cursor: pointer;
		box-shadow: 0 0 8px 0 rgba(0,0,0,0.3);
	}
	#signInButtons{
		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		@include border-radius(2px);
		background-color: $bzWhite;
		box-shadow: 0 4px 8px rgba(0,0,0,0.1);
		margin-top: 10px;
		position: absolute;
		top: 100%;
		padding: 5px 25px;

		&::before{
			content: " ";
		   	position: absolute;
		   	bottom: 100%;
		   	border-width: 10px;
		   	border-style: solid;
		   	border-color: transparent transparent $bzWhite transparent;
		}
		p{
			font: 90% Raleway;
			color: rgb(180, 105, 105);
		}
		button{	margin: 5px 0; }
	}
}

/*Social Media*/
#socialMediaTop{
	position: fixed;
	left: 10px;
	top: 110px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	z-index: 1500;
}