<footer>
	<p id="pageTitleFooter"><span>baby</span>steps</p>
	<div id="slider">
		<img src="/Files/react.png" alt="slide image">
		<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro sunt ut nemo molestias minus dolorem asperiores totam, similique illo quas nihil aspernatur voluptate eligendi alias, quia placeat ea minima recusandae!</p>
	</div>
	<div id="subscribeDiv">
		<h2>Subscribe</h2>
		<input type="taxt" id="subscriberName" class="field" placeholder="Enter your name" pattern="[a-zA-Z ]{2,50}"  maxlength="50" required />
		<input type="email" id="subscriberEmail" class="field" placeholder="Enter your email"  maxlength="50" autocomplete="on" required />
		<button id="subscribeButton" onclick="subscribe()">Subscribe</button>
	</div>
	<p id="copy">&copy; 2017</p>
	<p id='scrollToTop' title="Scroll to top">&#x21DB;</p>
</footer>