<header id="header">
    <p id="pageTitle"><span>baby</span>steps <span> to web development</span></p>
    <div id="menuDiv">
        <p id="bio" class="selectedMenu">Front End</p>
        <p id="project">Back End</p>
        <p id="tutorials">Full Stack</p>
        <p id="philosophy">& More</p>
    </div>
</header>