<div id="popUpBlur"></div>
<div id="popUpDiv">
    <div id="imageViewDiv">
        <img id="currentThumb" src=''>
        <input type="button" id="leftArrow" class="arrow" value="&#x2770;" />
        <input type="button" id="rightArrow" class="arrow" value="&#x2771;" />
        <input type="button" id="closeImages" class="arrow clossX" value="x" />
    </div>
    <div id="socialEmailDiv" class="userLog">
        <p class='logHeader'>Leave me a message</p>
        <input type="email" id="clientEmail" class="field" placeholder="Email" maxlength="50" autocomplete="on" required />
        <input type="text" id="clientName" class="field" placeholder="Name" maxlength="50" pattern="[a-zA-Z ]{2,50}" required />
        <textarea id="clientMessage" placeholder="Message" required></textarea>
        <button id="sendMessage">Send</button>
        <p id="clientResponseInfo">** I'll get back to you as soon as possible **</p>
        <input type="button" id="closeSocialEmail" class="arrow clossX" value="x" />
    </div>
</div>