<div id='socialMediaTop'>
    <a href="https://github.com/BomdiZane" target="_blank"><img id='socialGithub' class="socialImage" title="Github profile" src="/files/github.png" /></a>
    <a href="https://www.facebook.com/bomdi.zane1" target="_blank"><img id='socialFacebook' class="socialImage" title="Facebook profile" src="/files/facebook.png" /></a>
    <a href="https://www.youtube.com/channel/UCUzXaXTfVGJiPmkTcSa29YA" target="_blank"><img id='socialYoutube' class="socialImage" title="YouTube channel" src="/files/youtube.png" /></a>
</div>