.socialImage{
	width: 35px;
	height: 35px;
	margin: 5px 0;
	cursor: pointer;
	@include border-radius(20px);
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.3);
	@include transition(all 0.3s ease-out);
	&:hover{ transform: rotateZ(360deg); }
}
#socialMediaTop{
	position: fixed;
	left: 10px;
	top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	z-index: 1500;
}
#socialMediaBottom{
	@extend #socialMediaTop;
	left: unset;
	top: unset;
	right: 10px;
	bottom: 10px;

	div{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		position: relative;
		
		p{
			text-align: right;
			position: absolute;
			left: 100%;
			margin: 0;
			padding: 6px 10px;
			@include border-radius($defaultRadius);
			box-shadow: 0 4px 8px rgba(0,0,0,0.1);
			color: $bzWhite;
			background-color: #008888;
			display: none;
			animation: socialPhonePAni 0.5s forwards;
			z-index: 10000;
		}
	}
}