<section>
    <h1>500 - Server error</h1>
    <p class='errorMessage'>Sorry, There has been a server error. Please try again soon. <br /> If this is the second time you are seeing this message, please contact our support at...</p>
</section>

{{>footer}}