{{>header}}

{{>socialMedia}}

{{!-- Main Sign In --}}
<div id="signInDiv">
    <input type="button" id="signInMain" value="Sign In" />
    <div id="signInButtons">
        <p>with:</p>
        <button id="mainGoogleLogIn" class="googleLogIn">Google</button>
        <button id="mainFacebookLogIn" class="facebookLogIn">Facebook</button>
    </div>
</div>
{{!-- Signed In User --}}
<img id='loggedInUser' class="socialImage commentThumb" title="Sign Out" />

<section>
    <h1>Let the fun begin :)</h1>
    {{#if articles}}
        {{#each articles}}
            <ul>
                <li><strong>{{title}} -</strong> ({{url}}) </br> {{text}}</li>
            </ul>
        {{/each}}
    {{/if}}
</section>

{{>footer}}

{{!-- Scripts --}}
<script type="text/javascript" src='/js/homePage.min.js' async></script>
